<%= form_for(@todo) do |f| %>
<% if @todo.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@todo.errors.count, "error") %> prohibited
      this article from being saved:
    </h2>
    <ul>
      <% @todo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
  <p>
    <%= f.label :completed %>
    <%= f.check_box :completed %>
  </p>
  <p>
    <%= f.label :task %> <br>
    <%= f.text_area :task %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
