<h1>Tareas</h1>
<table>
  <tr>
    <th>Complete</th>
    <th>Tareas</th>
  </tr>
  <% @todos.each do |todo| %>
    <tr>
      <td><input type="checkbox" disabled <% if todo.completed == 1 %> checked <% end %> /></td>
      <td><%= todo.task %></td>
      <td><%= link_to 'Mostrar', todo_path(todo) %></td>
      <td><%= link_to 'Editar', edit_todo_path(todo) %></td>
      <td><%= link_to 'Eliminar', todo_path(todo),
              method: :delete,
              data: { confirm: 'Estas seguro(a)?' } %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Nuevo', new_todo_path %>
