<p>
  <strong>
    Completed:
  </strong>
  <td><input type="checkbox" disabled <% if @todo.completed == 1 %> checked <% end %> /></td>
</p>
<p>
  <strong>Task:</strong>
  <%= @todo.task %>
</p>
<p>
  <%= link_to 'Tareas', todos_path %>
</p>
